.pokedex-options {
    max-width: var(--pokedex-width);
    padding: 2em;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    color: var(--color-cinza);
    justify-content: space-between;
}

.pokedex-options  h2 {
    font-weight: 500;
}

#select-geration {
    border: 1px solid rgba(29, 29, 29, 0.322);
    font-size: 1.5em;
    width: 5em;
    padding: 3px;
    color: var(--color-cinza);
}

.pokedex-content {
    max-width: var(--pokedex-width);
    padding: 1em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: .5em;
}

.pokedex-card {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.158);
    padding: 10px;
    cursor: pointer;
    transition: .5s;
}

.pokedex-card:hover {
    background-color: rgb(223, 221, 221);
}

.poke-id {
    position: absolute;
    top: 1%;
    left: 85%;
    color: rgb(49, 49, 49);
    padding: .5em;
    font-weight: bold;

}

.poke-box-img {
    margin: 1em auto;
    max-width: 150px;
}

.poke-img {
    max-width: 100%;
}

.poke-types {
    display: flex;
    padding: 10px 0;
    gap: 2px;
}

.poke-types span{
    font-size: 1em;
    font-weight: 600;
    color: white;
    padding: 4px 5px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .pokedex-options {
        display: none;
    }
}